@mixin inputPosition {
  width: 50%;
  transform: translateX(50%);
  margin-top: 2rem;
}

.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;

  .hamburger-menu {
    font-size: 1.3em;
    cursor: pointer;
  }

  .mid {
    display: flex;
    margin-right: 20rem;
    gap: 1rem;
    align-items: center;
    font-size: 1.3em;

    div {
      display: flex;
      gap: 1rem;

      .input-search {
        width: 20rem;
        padding: 0.3em;
      }

      .btn-search {
        width: 3rem;
        cursor: pointer;
        color: $color-white;
        background-color: $primary-color;
      }
    }
  }
}

.list-view {
  cursor: pointer;
}

.center {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.side-bar-show {
  border-right: 1px solid black;
  height: 100vh;
  padding-left: 1rem;
  width: 12%;
  color: $primary-color;
  transition: all 1s ease;

  .sideBar-item {
    display: flex;
    font-size: 1.2em;
    align-items: center;
    gap: 1rem;
    margin-top: 1em;
    cursor: pointer;
  }

  .sideBar-item:hover {
    text-decoration: underline;
  }
}

.side-bar-hide {
  visibility: hidden;
  transform: translateX(-15rem);
}

.main-containerBig {
  padding-left: 2rem;
  height: 100vh;
  width: 90vw; //toggle this also
}

.main-containerSmall {
  padding-left: 2rem;
  height: 100vh;
  width: 80vw;
}

.inner-main {
  height: 100vh;
}

.takeANote-input-container {
  @include inputPosition();

  .takeANote-input {
    width: 100%;
    padding: 1em;
    outline: none;
  }
}

.addNote-input-container {
  @include inputPosition();

  .addANote-input {
    width: 100%;
    padding: 1em;
    border-bottom: none;
    outline: none;
  }
}

.addANote-input-ext {
  width: 100%;
  padding: 1em;
  border-top: none;
  outline: none;
}

.addNote-inp-btns {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  button {
    cursor: pointer;
    color: $color-white;
    background-color: $primary-color;
    padding: 0.5em;
    border-radius: 0.5em;
  }
}
