.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;

  .hamburger-menu {
    font-size: 1.3em;
    cursor: pointer;
  }

  .mid {
    display: flex;
    margin-right: 20rem;
    gap: 1rem;
    align-items: center;
    font-size: 1.3em;

    div {
      display: flex;
      gap: 1rem;

      .input-search {
        width: 20rem;
        padding: 0.3em;
      }

      .btn-search {
        width: 3rem;
        cursor: pointer;
        color: $color-white;
        background-color: $primary-color;
      }
    }
  }
}

.list-view {
  cursor: pointer;
}

.center {
  display: flex;
  flex-wrap: wrap;
}

.side-bar {
  border: 1px solid black;
  height: 100vh;
  padding-left: 1rem;
  width: 15%;
  //   transform: translateX(-15rem);
  //   display: none;
  .sideBar-item {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    gap: 1rem;

    p {
      font-size: 1.2em;
    }
  }
}
