@import "./variables";

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

.intro-page-container {
  display: flex;
  height: 90vh;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  font-family: sans-serif;
  margin-top: 2rem;
  .left-side {
    width: 50%;

    .left-side-inner {
      height: 90vh;
      width: 50%;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 4rem;
      @include flex(column);
      justify-content: space-between;

      span,
      .colored-h2 {
        color: $primary-color;
      }
    }
  }

  .right-side {
    width: 60%;
    // border: 1px solid black;
    .intro-img-container {
      margin-top: 7rem;
      //   border: 1px solid pink;
    }
  }
}

.heading h1 {
  font-size: 3.2rem;
}

.para h2 {
  margin: 0;
}

.footer {
  @include flex(column);
}

.joinNow-btn {
  width: 50%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: $color-white;
  background-color: $primary-color;
  font-weight: weight(bold);
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: none;
}

.signOut-btn,
.signIn-btn {
  margin-top: 1.5rem;
  color: $color-white;
  background-color: $primary-color;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.5rem;
}

.signOut-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

.footer {
  a {
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}

.takeNote-btn {
  color: $color-white;
  background-color: $primary-color;
  padding: 0.5em;
  cursor: pointer;
}
